//ColorPrincipal
$clrP   : #fdb2ec;
//ColorSecundario
$clrS   :#91d2f0;
//ColorTerciario
$clrT   :#fa2acd;
//ColorAuxiliar
$clrAP   :white;
//ColorAuxiliarSecundario
$clrAS   :#ff8de4;

//COLOR DE BOTON PRINCIPAL
//background color
$btnBC   :white;
//color del texto si es que tiene
$btnTC   :#fa2acd;
//Border Radius
$btnBR   : 20px;
//border para al presionar no causar un cambio en el tamaño
$btnBorder:solid 2px transparent;
//background color hover
$btnBCHover   :#fa2acd;
//color del texto si es que tiene
$btnTCHover    :white;
//background color active
$btnBCActive   :#91d2f0;
//color del texto si es que tiene
$btnTCActive    :#fa2acd;
//Border cuando el boton se presiona
$btnBorAct:solid 2px white;

// $   : 
// $   :
// $   :
// $   :
// $   :
